

.text-end{
    float: inline-end;
    color: rgb(0, 47, 255);
    font-size:20px;
    padding-right:15px;
}

.rodape{
    padding-left: 30px; 
    border-radius: 0% 0% 0% 30px;
    background-color: rgb(48, 102, 190);
 }