<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Melhor loja de cursos">
    <link rel="shortcut icon" href="../img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="estilocurso.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Marketing</title>
    <style>
      @media screen and (max-width:990px){
       .item-1{
        position: absolute;
        width: 68vh;
       }
       .item-2{
        padding-top: 600px;
       }
       .item-2 h1{
        text-align: center;
       }
       .div.main-desc{
        padding-top: 0px;
       }
      }
      @media screen and (max-width:770px){
       .item-1{
        width: 50vh;
       }
      }
      @media screen and (max-width:575px){
       .item-1{
        width: 60vh;
       }
      }
    </style>
</head>
<body>
       <!--Header-->
        <nav class=" navbar navbar-expand-lg navbar-light fixed-top bg-light" style="border-bottom: 7px solid rgb(48, 102, 190);">
            <div class="container-fluid">
              <a class="navbar-brand" data-toggle="tooltip" data-placement="right" title="Voltar a página inicial" href="index.html">
                 <img class="custom-logo" src="../img/cap.png" alt="Logo" width="70" height="60">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav nav-underline ms-auto">
              <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item ">
                 <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link"href="#">Link</a>
              </li>
             </ul>
            </div>
          </div>
        </nav>
       <!--Main-->
       <main  style="padding: 200px 0px 200px;">
        <div class="conteudo-main container">
          <div class="row">
            <div class="item-1 img-main col">
              <img class="img-thumbnail img-fluid" src="../img/lojavirtual3.jpg" alt="" style="width: 1600px; height: 550px;">
            </div>
            <div class="item-2 col fw-normal">
             <h1>
              Marketing
             </h1>
              <p class="fs-4">
               Pré-requisitos
              </p>
               <ul>   
                <li>
                 Ter mais de 18 anos
                </li>
                <li>
                 Curso superior completo
                </li> 
                <li>
                 Ter jogado no bicho
                </li>
               </ul>
              <p class="fs-4">
               Informações
              </p>
               <ul>   
                <li>
                  Duração de 12 Meses (Tempo Mínimo de Conclusão é de 6 Meses)
                </li>
                <li>
                  Teoria + Supervisão Clínica
                </li> 
               </ul>
            </div>
          </div>
        </div>
       <!--Main-Desc-->
       <div class="main-desc container" style="padding-top: 100px;">
        <hr class="featurette-divider">
        <h3 class="text-center" style="padding: 15px 0px 15px;">Descrição</h3>
       </div>
       <div class="container" style="padding-bottom: 100px;">
        <p>
          Óia, sô! Vô ti contá um trem bão: ocê já pensô em fazê um curso de marketing, sô? É um trem bão dimais da conta, sô! No curso de marketing, ocê aprende tudim sobre como fazê o negócio crescer, como chamar a atenção do povo pros seus produtos e serviços. Ocê aprende sobre pesquisa de mercado, mídias sociais, propaganda, tudim isso! É um trem indispensáve pros empresário e profissionáis que qué se destacá no mercado, uai! É um curso chei de estratégia, criatividade e muita prosa boa sobre como fazê o negócio brilhá! Então, se ocê qué se arriscá nesse mundo do marketing, vamu lá, sô!
        </p>
       </div>
      </main>
       <!--Footer-->
        <section>
          <a href="#" class=" rodape text-decoration-none text-white text-end fs-4">Voltar ao topo</a>
        </section>
           <footer class="text-white bg-dark" style="border-top: 10px solid rgb(48, 102, 190);">
            <div class="row pt-5 pb-5">
              <section class="col-md-6 pt-2 pb-5">
                <img class="custom-logo" src="../img/cap.png" alt="logo" width="200" height="150">
              </section>
              <section class="col-md-3">
                <h5>Album</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="text-decoration-none text-white m-lg-2">Link</a><br><br>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="text-decoration-none text-white m-lg-2">Link</a><br><br>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="text-decoration-none text-white m-lg-2">Link</a><br><br>
                  </li>
                </ul>
              </section>
              <section class="col-md-3">
                <h5>Contato</h5>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="tel:+5513111111111" class="text-decoration-none text-white">Tel: (13) 9 9999-9999</a><br><br>
                  </li>
                  <li class="nav-item">
                    <a href="https://api.whatsapp.com/send?phone=5513999999999&text=Quero%20saber%20mais%20sobre%20o%20Curso!"
                      target="_blank" class="text-decoration-none text-white">WhatsApp: (13) 9 9999-9999
                    </a>
                  </li>
                </ul>
              </section>
            </div>
           </footer>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>